.container {
  height: 100vh;
  width: 200vh;
  display: flex;
  flex-direction: column;
}



.input-bar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.input-bar h2 {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
}

.button {
  background: #007bff;
  padding: 10px;
  border-radius: 5px;
  color: white;
  border: none;
}

.country-info {
  background: rgba(255, 255, 255, 0.95);
  padding: 1rem;
  margin: 1rem auto;
  border-radius: 10px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.country-info img {
  margin-top: 0.5rem;
  border-radius: 5px;
}



.map {
  flex: 1;
  overflow: hidden;
}

.input-bar {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5); 
  padding: 10px;
  border-radius: 5px;
  left: 36%;
  position: absolute;
}


.input-bar input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.8); 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-bar input::placeholder {
  font-size: 14px;
}

.input-bar input:hover, .input-bar input:focus {
  border:1px solid #000;
  background: rgba(255, 255, 255, 1); 
}

.input-bar button {
  padding: 10px;
  background: #FAC921;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.ui-btn {
  --btn-default-bg: rgb(41, 41, 41);
  --btn-padding: 15px 20px;
  --btn-hover-bg: rgb(51, 51, 51);
  --btn-transition: .3s;
  --btn-letter-spacing: .1rem;
  --btn-animation-duration: 1.2s;
  --btn-shadow-color: rgba(0, 0, 0, 0.137);
  --btn-shadow: 0 2px 10px 0 var(--btn-shadow-color);
  --hover-btn-color: #FAC921;
  --default-btn-color: #fff;
  --font-size: 16px;
  --font-weight: 600;
  --font-family: Menlo,Roboto Mono,monospace;
  height: 35px;
  outline: none;
  top: 0;
  margin-top: 0;
  padding-top: 0;
}



.ui-btn span {
  letter-spacing: var(--btn-letter-spacing);
  transition: var(--btn-transition);
  box-sizing: border-box;
  position: relative;
  background: inherit;
}

.ui-btn span::before {
  box-sizing: border-box;
  position: absolute;
  content: "";
  background: inherit;
}

.ui-btn:hover, .ui-btn:focus {
  background: var(--btn-hover-bg);
}

.ui-btn:hover span, .ui-btn:focus span {
  color: var(--hover-btn-color);
}

.ui-btn:hover span::before, .ui-btn:focus span::before {
  animation: chitchat linear both var(--btn-animation-duration);
}

@keyframes chitchat {
  0% {
    content: "#";
  }

  5% {
    content: ".";
  }

  10% {
    content: "^{";
  }

  15% {
    content: "-!";
  }

  20% {
    content: "#$_";
  }

  25% {
    content: "№:0";
  }

  30% {
    content: "#{+.";
  }

  35% {
    content: "@}-?";
  }

  40% {
    content: "?{4@%";
  }

  45% {
    content: "=.,^!";
  }

  50% {
    content: "?2@%";
  }

  55% {
    content: "\;1}]";
  }

  60% {
    content: "?{%:%";
    right: 0;
  }

  65% {
    content: "|{f[4";
    right: 0;
  }

  70% {
    content: "{4%0%";
    right: 0;
  }

  75% {
    content: "'1_0<";
    right: 0;
  }

  80% {
    content: "{0%";
    right: 0;
  }

  85% {
    content: "]>'";
    right: 0;
  }

  90% {
    content: "4";
    right: 0;
  }

  95% {
    content: "2";
    right: 0;
  }

  100% {
    content: "";
    right: 0;
  }
}

.leaflet-control-attribution {
  display: none;
}

.statistics {
  position: absolute;
  left: 1.75%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  color: white;
  z-index: 1000;
  margin-bottom:  0;
}



.header:hover{
  background: #000000;
  transition: background 0.3s ease;
  cursor: pointer;
  box-shadow: #FAC921 1px 1px 15px 1px;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  transform-origin: center;
}

.stat span{
  top:20%;
}

.stat:hover{
  background: #000000;
  transition: background 0.3s ease;
  cursor: pointer;
  box-shadow: #FAC921 1px 1px 15px 1px;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  transform-origin: center;
}

.search_button:hover{
  background: #000000;
  transition: background 0.3s ease;
  cursor: pointer;
  box-shadow: #FAC921 1px 1px 15px 1px;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  transform-origin: center;
}

.welcome{
  font-size: larger;
  padding: 0;
  top:20px;
  left:35px;
  position: absolute;
  font-style: bold;
  color: #FAC921;
  font-family: 'Courier New', Courier, monospace;
  scale:1.2;
}

.welcome:hover{
  box-shadow: #FAC921 1px 1px 15px 1px;
  transform: scale(1.05);
  transition: transform 0.3s ease;
  transform-origin: center;
  background: #000000;
  border: #FAC921 1px solid;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: white;
  padding: 10px 20px;
  position: relative;
  z-index: 1000;
}

.header{
  padding: 10px;
  display: flex;
  box-sizing: border-box;
  padding: var(--btn-padding);
  align-items: center;
  justify-content: center;
  color: var(--default-btn-color);
  font: var(--font-weight) var(--font-size) var(--font-family);
  background: var(--btn-default-bg);
  border: none;
  cursor: pointer;
  transition: var(--btn-transition);
  overflow: hidden;
  box-shadow: var(--btn-shadow);
  outline: none;
  width: 20%;
  z-index: 1000;
  position:absolute;
  left: 79%;
  display: inline-block;
  border-radius: 10px;
  margin-top: 1.5%;
  padding:0;
}

.autosuggest-container {
  position: relative;
  color: #000;
}

.autosuggest-suggestions-container {
  position: absolute;
  top: 100%; 
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #000000;
  z-index: 10;
  max-height: 200px; 
  overflow-y: auto; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.autosuggest-suggestions-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #000;
}

.autosuggest-suggestion {
  padding: 10px;
  cursor: pointer;
}

.autosuggest-suggestion:hover {
  background-color: #c8c6c6;
}

.robot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.robot-icon:hover {
  background-color: #0056b3;
  transform: scale(1.2);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}


.robot-response {
  position: fixed;
  bottom: 100px;
  right: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 300px;
}